<div class="container">
    <form [formGroup]="photoForm" class="row" (submit)="upload()">
      <div class="col-md-6 text-center my-4 mb-md-0">
        <button imediateClick type="button" (click)="fileInput.click()" class="btn btn-primary" *ngIf="!preview; else previewshow">
            <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input  #fileInput
            hidden
            formControlName="file" 
            type="file" 
            accept="image/*"
            (change)="fileUploaded($event)">
        <ap-error-message *ngIf="photoForm.get('file').errors?.required">Please, select a photo</ap-error-message>
        <ng-template #previewshow>
            <ap-photo [src]="preview"></ap-photo>
        </ng-template>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <textarea
            formControlName="description"
            class="form-control form-control-sm" 
            placeholder="photo description"></textarea>
            <ap-error-message *ngIf="photoForm.get('description').errors?.maxLength">Descrição Obrigatória</ap-error-message>
        </div>
  
        <div class="form-group">
          <label class="text-muted">
            Allow comments
            <input 
                formControlName="allowComments"
                type="checkbox">
          </label>
        </div>
  
        <button [disabled]="photoForm.invalid" type="submit" class="btn btn-primary btn-block">
          Upload
        </button>
  
        <a class="btn btn-secondary btn-block">Cancel</a>
      </div>
    </form>
  </div>